*,
:before,
:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font: 400 15px/1.4 'Helvetica Neue', Helvetica, Arial;
  background: #f0f3f6;
  color: #4f5f6f;
}
.grid {
  margin: 0 0 1em 0;
}
.grid:after {
  content: "";
  display: table;
  clear: both;
}
[class*='col-'] {
  float: left;
  padding: 0 1em 0 0;
}
.grid [class*='col-']:last-of-type {
  padding-right: 0;
}
.col-1 {
  width: 100%;
  background: #fefefe;
}
h1,
h2 {
  font-size: 20px;
  font-weight: 500;
  margin: 1em 0 0.25em;
  color: #4f5f6f;
  text-align: center;
}
h2 {
  font-size: 12px;
  margin: 0 0 1.5em;
}
h3 {
  font-size: 17px;
  font-weight: normal;
  color: #fff;
  background: #4f5f6f;
  padding: 0.5em 1em;
  margin: 0;
}
h3 a {
  color: #fff;
}
a {
  color: #59c2e6;
  text-decoration: none;
}
a:hover {
  color: #fc4c7a;
}
a:visited {
  color: #a1b1c2;
}
ul.items {
  list-style: none;
  padding: 0;
  margin-top: 0;
  background: #fefefe;
  border: 1px solid #e7ebf0;
  border-width: 0 0 1px 1px;
}
ul.items li {
  padding: 1.25em;
  overflow: hidden;
  background: #fefefe;
  border: 1px solid #e7ebf0;
  border-width: 1px 1px 0 0;
}
ul.items li:nth-of-type(even) {
  background: #f5f8fc;
}
ul.items li p {
  margin: 0 0 0.5em;
}
ul.items li p a {
  color: #4f5f6f;
}
ul.items li p a:hover {
  color: #fc4c7a;
}
ul.items li p a:visited {
  color: #a1b1c2;
}
ul.items li:last-child {
  border-bottom: 1px solid #e7ebf0;
}
.score {
  font-size: 24px;
  float: right;
  padding-left: 1em;
  color: #ddd;
}
nav {
  float: left;
  width: 100%;
  margin-bottom: 1em;
}
#menu {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid #e7ebf0;
  border-width: 0 0 1px 1px;
}
#menu li {
  float: left;
  width: 50%;
  background: #fefefe;
  border: 1px solid #e7ebf0;
  border-width: 1px 1px 0 0;
}
#menu li a {
  display: block;
  padding: 1em;
}
#menu li > .active {
  background: #59c2e6;
  color: #fff;
}
/* Medium 768px+ */
@media only screen and (min-width: 48em) {
  .grid {
    max-width: 70em;
    margin: 0 auto;
  }
  nav {
    width: 20%;
    padding-right: 1em;
    float: left;
  }
  #menu {
    display: block;
  }
  #menu li {
    width: 100%;
    float: none;
  }
  .col-1 {
    width: 80%;
  }
}
/* Large 960px+ */
@media only screen and (min-width: 60em) {
  ul.items li {
    width: 50%;
    float: left;
  }
  ul.items li:nth-of-type(2n+1) {
    clear: both;
  }
  ul.items li:nth-of-type(even) {
    background: #fefefe;
  }
}
